/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ovo&display=swap');
/* style guide: https://docs.google.com/document/d/13U7XiDktQjgR3cUROSog0uell0MoMwNGHXf91zcV338/edit */
/* set root brand colors and fonts */
:root {
	--ovo: "Ovo", serif;
	--nunito-sans: "Nunito Sans", sans-serif;
	--black: #000000;
	--pine: #4C7031;
	--ironstone: #824737;
	--rust: #b55232;
	--carrot: #f49619; 
	--cream: #fff0cb;
	--white: #FFFFFF;
}
/* mobile first design */
/* h1, h2, h3, body for fonts */
body {
	font-size: 1.1rem;
	font-family: var(--nunito-sans);
	/* use zero not none cuz it overrides */
	padding: 0;
	margin: 0;
}
h1 {
	/* holds the logo ?? */
	/* can split logo away and use - div for h1, h2, and logo is grid */
	font-family: var(--ovo);
	/* adding margin: 0 aligned top of header with top of document */
	margin: 0;
}
h2 {
	font-size: 2.5rem;
	font-family: var(--ovo);
}
h3 {
	font-size: 2rem;
	font-family: var(--ovo);
}
/* added h4 in order to resolve h1, logo issue later */
h4 {
	font-size: 2rem;
	font-family: var(--ovo);
}
/* header is a grid with two children, double border on bottom */
header {
	display: flex;
	justify-content: center;
	grid-template-columns: 1fr;
	background-color: var(--cream);
	border-bottom: var(--rust) 1rem double;
}
.burger{
	font-size: 1.2em;
	/* tweak */
	padding: .3rem;
	margin: 1rem;
  } 
.nav {
	margin: 0;
    background: var(--ironstone);
    position: absolute;
    right: -100%;
    width: 50%;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0;
    transition: all 400ms;
}
.nav-active {
    right: 0;
  }
nav ul {
	list-style: none;
}
nav li{
	text-align: center;
	padding-top: 2rem;
}
nav a {
	text-decoration: none;
	color: var(--cream);
	text-transform: uppercase;
}
/* hero section */
.hero {
	display: flex;
	color: var(--rust);
	align-items: center;
	justify-content: center;
	background-image: url("https://images.pexels.com/photos/603030/pexels-photo-603030.jpeg");
	/* can height be done better */
	height: 30vh;
	background-size: cover;
	background-repeat: no-repeat;
}
/* heading above cards */
.content-wrapper {
	margin: 2rem;
}
/* cards-wrapper */
.cards-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: .5rem;
	grid-template-rows: auto;
}
/* cards */
.card {
	/* tweak, spacing seems just slightly different than example */
	display: flex;
	flex-direction: column;
	margin: .1rem;
}
.card img {
	width: 100%;
	margin-top: 0;
	/* tweak */
	border-radius: .3rem;
}
/* buttons on cards*/
.card .button a {
	text-decoration: none;
	/* tweak all  */
	/* is this white or cream? */
	color: var(--white);
	background-color: var(--pine);
	padding: .3rem .6rem;
	border-radius: .4rem;
}
.card .button a:hover {
	cursor: pointer;
}
/* footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--pine);
	color:var(--white);
	/* tweak */
	height: 30vh;
	border-top: var(--carrot) double .6rem;
}

/* media queries  */
@media (min-width: 700px) {
	.burger {
		display: none;
	}
	.cards-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
	.nav {
		/* revert keyword seems cool */
		margin: revert;
		background: revert;
		position: revert;
		right: revert;
		width: revert;
		display: flex;
		flex-direction: revert;
		justify-content: center;
		gap: .5rem;
		height: revert;
		padding: revert;
		transition: revert;
		width: 100%;
		margin: auto;
		grid-row: 2/3;
		padding-bottom: .5rem;
	}
	.nav-active {
		right: revert;
	  }
	nav ul {
		list-style: none;
	}
	nav li{
		text-align: center;
		padding-top: 0;
	}
	nav a {
		color: var(--pine);
	}
	header {
		display: grid;
		width: 100%;
		margin: auto;
		grid-template-columns: 1fr;
	}
	h1 {
		margin: auto;
		width: 100%;
		display: flex;
	}
	img {
		margin: auto;
		width: 70%;
	}
	.heading {
		grid-row: 1/2;
	}
}
@media (min-width: 915px) {
	header {
		display: flex;
		/* row reverse was handy */
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-bottom: 2rem;
	}
	nav {
		display: flex;
		padding-right: .5rem;
		padding-top: 2.6rem;
	}
}
/* @ min-width 700 px */
	/* side nav is hidden, hamburger is hidden, normal nav displays  */
	/* cards display horizontally */
	/* title is above nav */
/* @ min-width 900 px */
	/* title is next to nav, they look like flex space between */
